.empty-unit {
	width: 100%;
	min-height: 498px;
	background: url('/aprth/aprth/img/tmp/house.jpg') no-repeat center;
}

.content_wrapper {
}

.content-center {
	max-width: 800px;
	margin-left: auto;
    margin-right: auto;
}

.inline-message {
	text-align: center;
}

.form-group {
	margin-top: 15px;
}

.u-btn-regular {
	padding: 6px 10px;
	margin-right: 5px;
	margin-left: 5px;
	float: right;
	border-radius: 4px;
	background: none;
	color: #00ccc5;
	font-weight: 400;
	text-decoration: none;
}

.u-btn-regular:hover {
	color: #0be3dc;
}

.u-form-field.errstate {
	border: 1px solid #ed5466;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #ed5466;
}

.has-error .u-form-field {
  border-color: #ed5466;
}

.u-form-body {
	position: relative;
	z-index: 400;
}

.glyphicon.btn {margin-right: 4px; position:relative; margin-bottom:3px;}

h1.txt.search-result {
	margin-top: 10px;
}

.username {
    padding-left: 38px !important;
}
.avatar {
	  position:absolute;
    display: table-cell;
    vertical-align: middle;
    width: 34px;
    height: 34px;
	  top: 0px;
	  padding-top: 14px;    
}
.avatar > img {
    display: block;
    width: 100%;
    vertical-align: middle;
}
.img-circle {
    border-radius: 50% !important;
}

.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {color: #00ccc5;}
.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] .w--nav-menu-open {
  z-index: 800;
}

textarea.u-form-area-v {resize: vertical;}

/*иконки в главном меню*/
/*вариант 1*/
.u-menu-item {float:right;}
.w-dropdown-toggle.item {
  padding-bottom: 0px;
  padding-top: 14px;
  padding-right:20px;
}

.glyphicon.u-nav-icon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

/*вариант 2*/
[class^="ico-"], [class*=" ico-"] {
    display: inline-block;
    position: relative;
    top: 1px;
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 14px;
}
.ico-bell:before {
  content: "\e10b";
}
.meta {
    display: table;
    width: 100%;
}
.meta > .icon {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    min-width: 16px;
    text-align: center;
}
.meta > .hasnotification {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 10px;
    box-shadow: 0px 0px 0px 1px #FFF;
}
.label-danger, .badge-danger, .hasnotification-danger {
    background-color: #ED5466;
}
.hasnotification {
    display: inline-block;
    width: 8px;
    height: 8px;
    text-indent: -999999px;
    border-radius: 50%;
    background-color: #EEE;
}