.empty-unit {
	width: 100%;
	min-height: 498px;
	background: url('/aprth/aprth/img/tmp/house.jpg') no-repeat center;
}

/*w-container есть же!*/
.content-center {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.inline-message {
	text-align: center;
}

.form-group {
	margin-top: 15px;
}

h1.txt.search-result {
	margin-top: 10px;
}
textarea.u-form-area-v {
	resize: vertical;
}
.username {
	padding-left: 38px !important;
}
.img-circle {
	border-radius: 50% !important;
}
.has-success .u-form-field {
	border-color: #3c763d;
}

/*диалоги bootstrap*/
.messagebox-wraper {
  z-index: 2000;
}
.modal-dialog {
	z-index:2000;
}
.modal-backdrop.in {
    opacity: 0.1;
    z-index: 1999;
}
.modal-content {
	background-color: #f8f8f8;
}
.modal-body {
	background-color: #FFF;
	padding:0px 12px 12px 12px;
}
.modal-header {
	color:#00ccc5;
	padding:10px 12px 8px 12px;
}
.modal-footer {
	padding:12px;
}
/*warning - message_conf*/
.modal-content.warning {
	color:#DA9E00 !important;
	background-color: #FFF9EA;
	border-color: #FFF3D5;
}
.modal-content.warning .modal-body {
	background-color: #FFF9EA;
}
.modal-content.warning .modal-header {
	border-style: none;
}
.modal-content.warning .modal-footer {
	background-color: #FFF;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius:6px;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    color: #FFF;
    background-color: #FFCF51;
    border-color: #FFCB41;
}
.text-warning {	
	color:#DA9E00 !important;
}
/*danger, success*/
.text-success {
	color: #4e7325;
}
.text-danger {
	color: #E8263D;
}
.modal-content.success {
  color: #4e7325 !important;
  background-color: #EFFAE4;
  border-color: #d2e8b8;	
}
.modal-content.danger {
	color: #E8263D !important;
	background-color: #FFEFEA;
	border-color: #FACCD1;
}
.modal-content.success .modal-body {
	background-color: #EFFAE4;
}
.modal-content.danger .modal-body {
	background-color: #FFEFEA;
}
.modal-content.danger .modal-header, .modal-content.success .modal-header {
	border-bottom-style: none;
}
.modal-content.danger .modal-footer, .modal-content.success .modal-footer {
	border-top-style: none;
}
.panel-body {
	padding:10px;
}
.panel-default {
	border-style:none;
}

.label-danger, .badge-danger, .hasnotification-danger {
	background-color: #ED5466;
}

.hasnotification {
	display: inline-block;
	width: 8px;
	height: 8px;
	text-indent: -999999px;
	border-radius: 50%;
	background-color: #EEE;
}

/*datepicker*/
.table-condensed>tbody>tr>td, 
.table-condensed>tbody>tr>th {
	padding-top:2px; padding-bottom: 0px;
}
.table-condensed>thead>tr>td, 
.table-condensed>thead>tr>th,
.table-condensed>tfoot>tr>td, 
.table-condensed>tfoot>tr>th {
	padding-top:2px; padding-bottom: 2px;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  background-color: #ECF0F1;
  border-radius: 0px;
  color:#D0D0D0;
}
.datepicker table tr td.active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active:hover, 
.datepicker table tr td.active.active:hover {
	color: #FFF;
  text-shadow: 0 -1px 0 rgba(99, 184, 42, 0.4);
	background-image: none;
  background-color: #BBE75D;
}
.datepicker table tr td.today, 
.datepicker table tr td.today:hover {
	background-image: none;
	background-color: initial;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;	
  border-style: solid;
  border-width: 1px;
  border-color: #D5D4D4;
}
.datepicker table {
	border-collapse: initial;
}
.datepicker table tr td.today:hover:hover, .datepicker table tr td.today:hover {
	background:#eee;
}

/*rater*/
.rater {
	padding: 5px 5px 5px 0px;
}

.rater-item {
	cursor: default;
	color: gray;
	font-size: 20px;
}

.rater-count {
	cursor: default;
	color: gray;
	font-size: 17px;
}

.rater-item-active {
	color: #FFB000;
}

.rater-item-rw {
	cursor: pointer;
}

.rater-item-rw:hover {
	color: #FFB000;
}

a > .rater, a.u-block-card-desc:hover, a.u-block-card-desc .rater .rater-item, a.u-block-card-desc .rater .rater-count {
	text-decoration: none; cursor:pointer;
}